*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.todo-container{
    width: 600px;
    margin: 30px auto 0;
    background-color: #f6f6f6;
}
@media (max-width: 600px) {
    .todo-container{
        width: 390px;
    }
}
.todo-container .add-task{
    padding: 15px;
    background-color: #009688;
    position: relative;
}
.todo-container .add-task input{
    display: inline-block;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, .3);
    width: calc(100% - 15px);
    color: #fff;
    font-size: 20px;
}
.todo-container .add-task .plus {
    position: absolute;
    width: 43px;
    height: 43px;
    background-color: #fff;
    border-radius: 50%;
    line-height: 43px;
    text-align: center;
    font-size: 38px;
    right: 12px;
    color: #009688;
    cursor: pointer;
    transition: transform .3s;
}
.todo-container .add-task .plus:hover{
    transform: rotate(90deg);
}
.todo-container .tasks-content {
    padding: 15px;
}
.todo-container .tasks-content .no-tasks-message {
    font-size: 15px;
    color: #777;
}
.todo-container .tasks-content > span {
    background-color: #fff;
    display: block;
    padding: 10px;
}
.todo-container .tasks-content > span:not(:last-child) {
    margin-bottom: 10px;
}
.todo-container .tasks-content .task-box .delete{
float: right;
    background-color: #E91E63;
    color: white;
    padding: 4px 10px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.todo-container .tasks-content .task-box.finished {
    opacity: .5;

}
.tasks-stats{
    width: 600px;
    margin: 10px auto;
    font-size: 12px;
}
@media (max-width: 600px) {
    .tasks-stats {
        width: 390px;
    }
}
.tasks-stats .tasks-count,
.tasks-stats .tasks-completed{
    width: 50%;
    padding: 10px;
}
.tasks-stats .tasks-count {
    float: left;
}
.tasks-stats .tasks-completed {
    float: right;
    text-align: right;
}
.tasks-stats .tasks-count span,
.tasks-stats .tasks-completed span {
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 4px;
    border-radius: 4px;
}
.tasks-stats .tasks-count span {
    background-color: #E91E63;
}
.tasks-stats .tasks-completed span {
    background-color: #03a9f4;
}